<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="javascript:;">
      <img src="../../assets/logo_c.png" class="banner">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="mr-auto mt-2 mt-lg-0"></div>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <div class="btn-group dropleft">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ chatDataService.userName }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col col-3">
      <ul class="list-group list-group-flush" style="padding:1rem">
        <div *ngFor="let user of chatDataService.users" class="list-group-item list-group-item-action">
          <button *ngIf="isUserAvailableToJoin(user)" type="button" class="btn btn-danger btn-sm" (click)="addToCurrentRoom(user.name)">+</button>
          <a href="javascript:;"
             [ngClass]="isUserActive(user.name)"
             (click)="enterRoom(user.name)">
            {{ user.name }}
            <span class="badge badge-primary badge-pill" *ngIf="isNewMessagePresent(user.name)">{{ getNewMessageCount(user.name) }}</span>
          </a>
        </div>
      </ul>
    </div>
    <div class="col col-9">
      <div *ngIf="!chatDataService.activeChatRoom" class="jumbotron jumbotron-fluid text-center" style="background-color:white">
        <img src="../../assets/cat.png" width="100">
        <h1 class="display-4">Welcome to DiscoRTC!</h1>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <hr class="my-4">
        <p class="text-justify">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
      </div>
      <div *ngIf="!!chatDataService.activeChatRoom">
        <div class="row">
          Active users in chat room: {{ getActiveRoomMemberList().join(',') }}
        </div>
        <div class="row">
          <div class="row col-8" style="height: 23rem;margin-top: 1rem;overflow-y: scroll;">
            <div class="chat-content col-sm-12">
              <p *ngFor="let message of chatDataService.activeChatRoom.messages"><b>{{ message.user.name }}:</b> {{ message.content }} <small>({{ message.timestamp }})</small></p>
            </div>
            <img *ngIf="!isReadyToChat" src="../../assets/loading.gif">
          </div>
          <div class="col-4 row" style="height: 23rem;">
            <video #streamVideo (load)="loadVideo($event, chatDataService.localStream)" width="200" height="160" class="col-12" poster="../../assets/avatar.png"></video>
            <video #receiveVideos *ngFor="let member of chatDataService.activeChatRoom.members" (load)="loadVideo($event, member.stream)" width="200" height="160" class="col-12" poster="../../assets/avatar.png"></video>
          </div>
        </div>
        <div class="row col-12">
          <input type="file" name="files" class="col-sm-12 chat-file">
        </div>
        <div class="row col-12" style="margin-top: 1rem;">
          <input [(ngModel)]="chatInput" (keyup.enter)="sendMessage()" [disabled]="!isReadyToChat" class="col-sm-12 chat-input">
        </div>
      </div>
    </div>
  </div>
</div>
