/** {
    outline: rgba(255, 0, 0, 0.2) solid 1px;
}*/

.page {
    height: 100vh;
}
.window {
    position: relative;
    top: 1rem;
    transform: translateX(-50%);
    left: 50%;
}

.global-alert {
    border-radius: 0 !important;
}

.console {
    color: #333;
    font-size: 0.7rem;
    word-wrap: break-word;
    white-space: pre-wrap;
    border: #bbb solid 1px;
    padding: 0.6rem;
}

/* keyword */
pre.language-sdp > .kw {
    color: dodgerblue;
}

/* number */
pre.language-sdp > .n {
    color: chocolate;
}

.chat-window {
    height: 20rem;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.action-btn {
    margin-bottom: 0.6rem;
}

.chat-input {
    margin-top: 0.2rem;
    overflow: visible;
}

.debug-log::before, pre.language-sdp::before {
    display: block;
    margin-left: -0.2rem;
    margin-bottom: 0.2rem;
    color: darkgrey;
}

.debug-log::before {
    content: 'debug log';
}

pre.language-sdp::before {
    content: 'sdp header';
}

.debug-log {
    height: 10rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.debug-log div:nth-child(even) {
    background: #eee;
}

video {

}