<div class="window col-sm-12 col-md-6 row">
    <div class="col-sm-12 col-md-6">
        <pre class="language-sdp">v=0
o=- 2831302058795461551 2 IN IP4 127.0.0.1
s=-
t=0 0
a=group:BUNDLE data
a=msid-semantic: WMS
m=application 9 DTLS/SCTP 5000
c=IN IP4 0.0.0.0
a=ice-ufrag:E3fo
a=ice-pwd:kgNTg+GEliP2adYnGQ/yd0nG
a=ice-options:trickle
a=fingerprint:sha-256 95:A1:5E:16:83:09:40:67:2E:AF:16:31:29:DC:32:12:C7:EF:B7:C7:FB:1D:FC:4B:CF:47:4B:76:A4:D0:45:2C
a=setup:actpass
a=mid:data
a=sctpmap:5000 webrtc-datachannel 1024 GET</pre>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="row">

        </div>
        <div class="row">

        </div>
    </div>
</div>
