<div class="card window col-sm-12 col-md-6" style="padding: 0.2rem">
    <div class="card-body">
        <h5 class="card-title">Peer Chat</h5>
        <h6 class="card-subtitle mb-2 text-muted">For two parties</h6>
        <p class="card-text">
            In this PoC I use <code>createDataChannel</code> to create a peer-to-peer chat application.
            The two clients have to share their SDP description with each other to set up the connection.
            There is no singaling server yet.
        </p>
        <a href="#!/create-chat" id="create-chat" class="card-link">Create chat</a>
        <a href="#!/join-chat" id="join-chat" class="card-link">Join chat</a>
        <a href="#!/docs" class="card-link">Documents</a>
    </div>
</div>