<div class="vertical-center" style="width: 100vw;">
  <div class="card horizontal-center" style="width: 20rem; padding: 1rem">
    <img class="card-img-top" alt="Card image cap" src="../../assets/logo_bw.png">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <div class="card-text">
        <div *ngIf="isNickNameInUse" class="alert alert-danger" role="alert">
          This nickname is already in use! Pick another one.
        </div>
        <input
          class="name-input"
          placeholder="Your nickname"
          #nameInput
          [(ngModel)]="chatDataService.userName"
          (keyup.enter)="enter()"
          [disabled]="loginHappening"
        >
        <br>
        <small>Name must contain at least 4 characters out of the latin alphabet.</small>
      </div>
      <a *ngIf="validateName(nameInput.value)"
         href="javascript:;"
         (click)="enter()"
         class="btn btn-primary">Login as {{ chatDataService.userName }}</a>
    </div>
  </div>
</div>
